*{
    margin: 0px;
    border: 0px;
    font-family: arial;
}
.navbar{
    height: 67px;
    width: 100%;
    background-color: black;
    
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    
    
}
.nav-logo{
    height: 50px;
    width: 160px;
    
    
}
.logo{
    background-image: url(../flipcart.logo.svg);
    background-size: cover;
    height: 40px;
    width: 150px;
    
    
}
.border{
    border: 2px solid transparent;
    width: 160px;
}


.border:hover{
    border: 1.5px solid white;
}
/*box2*/
.search-input{
    height: 40px;
    width: 450px;
    background-color: #fff;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
    
}
.nav-search{
    height: 40px;
    width: 44px;
    padding: 8px 8px 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.login{
   display: flex;
   gap: 10px;
}
.pannel{
    height: 130px;
    width:100%;
    background-color: red;
    display: flex;
    align-items: center;
    gap: 180px;
}
.minute{
    height: 64px;
    width: 64px;
    
    margin: 20px;
    background-image: url(../minuts.webp);
    background-size: cover;
}
.txt{
    margin-top: 65px;
}
.mobile{
    height: 64px;
    width: 64px;
    
    background-image: url(../mobiles.webp);
    background-size: cover;
}
.text{
    margin-top: 65px;
}
.fashion{
    height: 64px;
    width: 64px;
    background-image: url(../fashion.1.webp);
    background-size: cover;
}
.fash{
    margin-top: 67px;
}


.tv{
    height: 64px;
    width: 80px;
    background-image: url(../tv\ &\ Appliances.webp);
    background-size: cover;
}
.hm{
    margin-top: 67px;
    
}
.flight{
    height: 64px;
    width: 64px;
    background-image: url(../flight.webp);
    background-size: cover;
}
.flt{
    margin-top: 65px;
}
.grocery{
    height: 64px;
    width: 64px;
    background-image: url(../grocery.webp);
    background-size: cover;
}
.gro{
    margin-top: 67px;
}
.header-slider ul{
    display: flex;
    overflow-y: hidden;

}
.header{
    width: 100%;
    
    
}
.header-slider a{
   position: absolute;
   top: 20%;
   z-index: 1;
   padding: 5vh 1vw;
   
   color: #0000007b;
   text-decoration: none;
   font-weight: 600;
   font-size: 18px;
   background-size: cover;


}
    
.control-next{
    right: 0;
}
.offer_box{
    height: 212px;
    width: 100%;
    display: flex;
    margin: 20px 0px 0px 50px;
    
    
    gap: 60px;
}
.offer_soon{
    margin-top: 70px;
    display: flex;
    gap: 60px;
    margin-left: 70px;
}.products{
    margin-top: 100px;
}
.mobile_box{
    display: flex;
    gap: 70px;
    margin: 20px 0px 0px 50px;
}
.travel{
    margin-top: 10px;
    
    width: 1400pxpx;
    height: 1070px;
    
}
.life{
    margin-top: 20px;
}
.life_box{
    display: flex;
    gap: 60px;
    margin: 10px 0px 0px 50px;
}
.book{
    background-image: url(../travel.webp);
    background-size: cover;
    height: 204px;
    width: 1400px;
    margin-top: 10px;
    margin-left: 5px;
    
}
.furniture{
    margin-top: 10px;
}
.furniture_box{
    display: flex;
    gap:40px;
    margin: 10px 0px 0px 20px;
}
.crocs img {
    height: 164px;
    width: 307px;
    
}
.crocs{
    display: flex;
    margin: 10px 0px 0px 20px;
    gap: 30px;
}
.boats img{
    height:164px;
    width: 307px;
}
.boats{
    display: flex;
    margin: 10px 0px 0px 20px;
    gap: 30px;
}
.footer{
    height: 200px;
    width: 1400px;
    background-color: #000000;
    margin-top: 20px;
    display: flex;
   
}
.footer_box{
    height: 135px;
    width: 304px;
    margin: 50px 0px 0px 100px;
    margin-top: 50px;
    padding-top: 20px;
}
.footer_box h2{
    color: #878787;
    font-size: 16px;
    
}
.footer_box h3{
    color: #878787;
    font-size: 16px;
    
}
.footer_box h4{
    color: #ffffff;
    font-size: 12px;

}